In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#store the csv into a data frame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head(20)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maltahohe,NaN,11/25/21 0:30,-24.8333,16.9833,63.90,38,0,7.47
1,1,Ushuaia,AR,11/25/21 0:28,-54.8000,-68.3000,46.06,66,20,17.27
2,2,Atambua,ID,11/25/21 0:30,-9.1061,124.8925,84.09,64,72,1.79
3,3,Corbelia,BR,11/25/21 0:30,-24.7989,-53.3067,74.37,58,27,2.98
4,4,Ribeira Grande,PT,11/25/21 0:30,38.5167,-28.7000,64.98,69,100,24.11
5,5,Yellowknife,CA,11/25/21 0:29,62.4560,-114.3525,0.41,87,90,16.11
6,6,Requena,ES,11/25/21 0:30,39.4883,-1.1004,42.71,80,100,17.98
7,7,Saskylakh,RU,11/25/21 0:30,71.9167,114.0833,-10.32,95,100,9.22
8,8,Bluff,NZ,11/25/21 0:28,-46.6000,168.3333,60.17,52,92,5.61
9,9,Pitimbu,BR,11/25/21 0:30,-7.4706,-34.8086,79.39,77,54,9.53
10,10,Leningradskiy,RU,11/25/21 0:30,69.3833,178.4167,-19.03,98,100,4.76
11,11,Punta Arenas,CL,11/25/21 0:28,-53.1500,-70.9167,48.31,71,0,8.05
12,12,Cape Town,ZA,11/25/21 0:26,-33.9258,18.4232,62.10,56,0,8.05
13,13,Tocopilla,CL,11/25/21 0:30,-22.0920,-70.1979,65.28,70,61,7.83
14,14,Chuy,UY,11/25/21 0:30,-33.6971,-53.4616,62.44,70,0,8.03
15,15,Longyearbyen,SJ,11/25/21 0:30,78.2186,15.6401,3.04,78,40,6.91
16,16,Kirakira,SB,11/25/21 0:30,-10.4544,161.9205,84.81,72,100,9.31
17,17,Mweka,CD,11/25/21 0:30,-4.8500,21.5667,67.26,99,100,1.28
18,18,Harwich,GB,11/25/21 0:30,51.9419,1.2844,44.01,88,86,5.01
19,19,Gimli,CA,11/25/21 0:29,50.6336,-96.9907,10.42,61,87,12.66

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=100, point_radius=5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#heatmap of percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

#call the figure 
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of wind speed
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

#call the figure 
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#ask the customer to add a min and max temp
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [10]:
#filter the dataset to find the cities that fit the criteria 
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & \
                                      (city_data_df['Max Temp']>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atambua,ID,11/25/21 0:30,-9.1061,124.8925,84.09,64,72,1.79
9,9,Pitimbu,BR,11/25/21 0:30,-7.4706,-34.8086,79.39,77,54,9.53
16,16,Kirakira,SB,11/25/21 0:30,-10.4544,161.9205,84.81,72,100,9.31
24,24,Kismayo,SO,11/25/21 0:30,-0.3582,42.5454,78.21,83,85,10.69
25,25,Bengkulu,ID,11/25/21 0:30,-3.8004,102.2655,79.93,63,46,4.09
32,32,Luanda,AO,11/25/21 0:27,-8.8368,13.2343,78.15,81,97,7.29
33,33,Manggar,ID,11/25/21 0:30,-2.8833,108.2667,82.00,66,79,3.09
41,41,Kapaa,US,11/25/21 0:30,22.0752,-159.3190,82.72,65,1,3.00
43,43,Isangel,VU,11/25/21 0:30,-19.5500,169.2667,76.80,79,100,17.38
47,47,Ca Mau,VN,11/25/21 0:30,9.1769,105.1500,77.32,90,100,5.39

In [11]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [12]:
#create a DataFrame to store hotel names along with city, country, lat, lng, & max temp
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng',]].copy()
hotel_df['Hotel Name']=''
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
2    Atambua      ID     84.09  -9.1061  124.8925
9    Pitimbu      BR     79.39  -7.4706  -34.8086
16  Kirakira      SB     84.81 -10.4544  161.9205
24   Kismayo      SO     78.21  -0.3582   42.5454
25  Bengkulu      ID     79.93  -3.8004  102.2655
32    Luanda      AO     78.15  -8.8368   13.2343
33   Manggar      ID     82.00  -2.8833  108.2667
41     Kapaa      US     82.72  22.0752 -159.3190
43   Isangel      VU     76.80 -19.5500  169.2667
47    Ca Mau      VN     77.32   9.1769  105.1500

In [13]:
#set parameters to search for a hotel
params= {'radius':5000,
        'type': 'lodging',
        'key': g_key}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the lat and lng to location key for the params dictionary
    params['location']=f'{lat},{lng}'
    
    #use the search term: "lodging" and our lat and lng
    base_url = '"https://maps.googleapis.com/maps/api/place/nearbysearch/json"'
    
    #make a request and get the JSON data from the search
    hotels=requests.get(base_url, params=params).json()
    
    #grab the first hotel name from results and store
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atambua,ID,84.09,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
9,Pitimbu,BR,79.39,-7.4706,-34.8086,Reserva do Abiaí
16,Kirakira,SB,84.81,-10.4544,161.9205,SanBiz Lodge
24,Kismayo,SO,78.21,-0.3582,42.5454,Agan-Hotel
25,Bengkulu,ID,79.93,-3.8004,102.2655,Grage Hotel Bengkulu
32,Luanda,AO,78.15,-8.8368,13.2343,Hotel Fórum
33,Manggar,ID,82.00,-2.8833,108.2667,Guest Hotel
41,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
43,Isangel,VU,76.80,-19.5500,169.2667,Tanna Lodge
47,Ca Mau,VN,77.32,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau

In [25]:
#add a heatmap of temperature for the vacation spots and a popup marker for each city
locations=hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#store the DataFrame row
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
#add a heatmap of temperature for the vacation spots and a popup marker for each city
locations=hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))